#home-page {
    #platform-benefits {
      text-align: center;
  
      @include l-screen {
        text-align: left;
  
        .section-title {
          br {
            display: none;
          }
        }
  
        .section-description {
          max-width: 583px;
  
          @include responsive(1600px) {
            max-width: 800px;
          }
        }
      }
  
  
      .benefit-item {
        &:not(:last-child) {
          margin-bottom: 45px;
        }
  
        .icon {
          margin-bottom: 35px;
        }
  
        .benefit-title {
          margin-bottom: 30px;
          font-size: 18px;
          font-weight: normal;
  
          @include responsive(1600px) {
            font-size: 25px;
          }
        }
      }
    }
  
    #latest-articles {
      .section-title {
        text-align: center;
  
        @include l-screen {
          text-align: left;
        }
      }
  
      .article-card-container {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
  
        .card {
          border-color: transparent;
          overflow: hidden;
          cursor: pointer;
  
          img {
            object-fit: cover;
            object-position: 50% 50%;
  
            @include l-screen {
              height: 190px;
            }
          }
  
          .card-body {
            padding: 30px;
  
            @include l-screen {
              padding: 24px;
            }
  
  
            .author {
              font-size: 14px;
            }
  
            .card-title {
              font-size: 16px !important;
            }
  
            .article-description {
              font-size: 12px;
            }
          }
  
          &:hover {
            .card-title {
              color: color(primary);
            }
          }
        }
      }
    }
  }