<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="http://localhost:8080/css/index.css" rel="stylesheet")
    body
        main#home-page
            include components/navbar.pug
            include components/main-banner.pug
            include components/platform-benefits.pug
            include components/latest-articles.pug
            include components/footer.pug
        script(src="http://localhost:8080/js/index.js")
        