footer.background-dark-blue
    .container
        .row
            .col-12.col-lg-auto.company-col
                img(src="https://via.placeholder.com/186x30" alt="EasyBank")
                ul.social-links
                    li
                        a(href="#")
                            include ../icons/facebook.pug
                    li
                        a(href="#")
                            include ../icons/youtube.pug
                    li
                        a(href="#")
                            include ../icons/twitter.pug
                    li
                        a(href="#")
                            include ../icons/pinterest.pug
                    li
                        a(href="#")
                            include ../icons/instagram.pug
            .col-12.col-lg.menu-col
                ul
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Contact
                    li
                        a(href="#") Blog
                ul
                    li
                        a(href="#") Careers
                    li
                        a(href="#") Support
                    li
                        a(href="#") Privacy Policy
            .col-12.col-lg-auto.extra-col
                a.btn(href="#") Request Invite
                p
                    | © Easybank. All Rights Reserved.
