section#main-banner.background-lightest-gray
    img.mw-100.illustration-mobile(src="https://via.placeholder.com/991x336" alt="Next Generation Digital Banking - Mobile Image")
    img.illustration-desktop(src="https://via.placeholder.com/994x1087" alt="Next Generation Digital Banking - Desktop Image")
    .container
        .row.align-items-center
            .col-12.col-lg-5.content-container
                h1.h1.page-title Next generation digital banking
                p.page-description
                    | Take your financial life online. Your Easybank 
                    | account will be a one-stop-shop for spending, 
                    | saving, budgeting, investing, and much more.
                a.btn(href="#") Request Invite