header.background-white
    nav
        .container
            .row.justify-content-between.align-items-center
                .col-auto.logo-container
                    img#logo(src="https://via.placeholder.com/153x24" alt="EasyBank")
                .col-auto.d-lg-none
                    button.menu-toggler
                        span
                        span
                        span
                .col-auto.menu-container
                    ul.menu
                        li
                            a(href="#") Home
                        li
                            a(href="#") About
                        li
                            a(href="#") Contact
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Careers
                        li.d-lg-none
                            a(href="#").btn Request Invite
                .col-auto.d-none.d-lg-block
                    a(href="#").btn Request Invite
                